<div class="row top-panel-admin">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="statistic-box">
                    <h2><span class="count-number"><%= @level_1 %></span> <span class="slight"></span></h2>
                    <div class="small"> Level 1 Tickets</div>
                    <div class="sparkline1 text-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="statistic-box">
                    <h2><span class="count-number"><%= @level_2 %></span> <span class="slight"></span></h2>
                    <div class="small"> Level 2 Tickets</div>
                    <div class="sparkline1 text-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="statistic-box">
                    <h2><span class="count-number"><%= @level_3 %></span> <span class="slight"></span></h2>
                    <div class="small"> Level 3 Tickets</div>
                    <div class="sparkline1 text-center"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="panel panel-bd">
            <div class="panel-body">
                <div class="statistic-box">
                    <h2><span class="count-number"><%= @not_viewed %></span> <span class="slight"></span></h2>
                    <div class="small"> New Tickets</div>
                    <div class="sparkline1 text-center"></div>
                </div>
            </div>
        </div>
    </div>
</div>
