<header class="main-header">
    <a href="index.html" class="logo"> <!-- Logo -->
        <span class="logo-lg">
            <%= image_tag "logo.png" %>
        </span>
    </a>
</header>

<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel text-center">
            <div class="image">
              <%= image_tag "avatar.png", class: 'img-circle' %>
            </div>
            <div class="info">
                <p><%= current_user.full_name %></p>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form> <!-- /.search form -->
        <!-- sidebar menu -->
        <%= render 'dashboard/nav' %>
    </div> <!-- /.sidebar -->
</aside>
