<ul>
    <li>
        <div class="fb_inner">
            <i class="fa fa-facebook"></i>
            <span class="sc-num">5,791</span>
            <small>Fans</small>
        </div>
    </li>
    <li>
        <div class="twitter_inner">
            <i class="fa fa-twitter"></i>
            <span class="sc-num">691</span>
            <small>Followers</small>
        </div>
    </li>
    <li>
        <div class="g_plus_inner">
            <i class="fa fa-google-plus"></i>
            <span class="sc-num">147</span>
            <small>Followers</small>
        </div>
    </li>
    <li>
        <div class="dribble_inner">
            <i class="fa fa-dribbble"></i>
            <span class="sc-num">3,485</span>
            <small>Followers</small>
        </div>
    </li>
</ul>
