<!-- Header -->
	<%= render 'layouts/header' %>

<!-- One -->

<!-- Three -->
	<section id="two" class="wrapper style1 special change-bgs">
		<div class="inner">
			<header>
				<h2>Request A Ticket</h2>
				<p>your response will be handled in a timely manner</p>
			</header>

			<form class="contact-form" action="/contact" method="post">
				<label for="name">Name</label>
				<input type="text" name="name" placeholder="John Doe">

				<br>

				<label for="email">Email</label>
				<input type="text" name="email" placeholder="john@doe.com">

				<br>

				<label for="facility">Choose a Location</label>
				<select name="facility">
					<option value="Corportate Office">Corporate Office</option>
				  <option value="Coney Island Branac">Coney Island Branac</option>
				  <option value="Bedstuy">Bedstuy</option>
				  <option value="1413">1413</option>
				  <option value="Blondell">Blondell</option>
					<option value="Audubon">Audubon</option>
					<option value="96th St.">96th St.</option>
					<option value="Columbus">Columbus</option>
					<option value="Lexington Ave.">Lexington Ave.</option>
					<option value="2nd Ave.">2nd Ave.</option>
					<option value="Huntington">Huntington</option>
					<option value="CUC-Huntington">CUC-Huntington</option>
					<option value="CUC-Upper East Side">CUC-Upper East Side</option>
					<option value="CUC-Upper West Side">CUC-Upper West Side</option>
				</select>

				<br>

				<label for="Body">Body</label>

				<textarea name="body" rows="8" cols="80"></textarea>
				<input type="hidden" name="ticket_number" value="<%= @ticket_number %>">

				<br>

				<input type="submit" value="Submit!" class='contact-click'>
			</form>
			<div class="flex flex-4">
			</div>
		</div>
	</section>

<!-- Footer -->
	<%= render 'layouts/footer' %>

<script type="text/javascript">
	$( 'form input.contact-click' ).on( 'click', function( e ) {
		e.preventDefault();

		var target = e.target
		var url = target.parentElement.action
		var type = target.parentElement.method
		var data = 'name=' + target.parentElement[ 0 ].value +
							 '&email=' + target.parentElement[ 1 ].value +
							 '&facility=' + target.parentElement[ 2 ].value +
							 '&body=' + target.parentElement[ 3 ].value +
							 '&ticket_number=' + target.parentElement[ 4 ].value

							 debugger;


		$.ajax({
			type: type,
			url: url,
			data: data
		}).done( function( response ) {
			$( 'form' ).hide();
			$( '#two div.inner' ).append( response );
		});
	});
</script>
