<ul class="nav">
    <li>
      <%= link_to( mailbox_inbox_path ) do %>
        <i class='fa fa-inbox'></i>Inbox
      <% end %>
    </li>
    <li class="active">
      <%= link_to( mailbox_sent_path ) do %>
        <i class='fa fa-envelope-o'></i>Sent
      <% end %>
    </li>
    <li>
      <%= link_to( mailbox_trash_path ) do %>
        <i class='fa fa-trash-o'></i>Trash
      <% end %>
    </li>
</ul>
