<section class="content-header">
    <div class="header-icon">
        <i class="pe-7s-world"></i>
    </div>
    <div class="header-title">
        <h1>Quick RX</h1>
        <small>Admin Panel</small>
    </div>
</section>
