<header id="header">
  <div class="inner">
    <%= link_to 'Home', root_path, class: 'logo' %>
    <nav id="nav">
      <a href="#">Ok</a>
		</nav>
    <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  </div>
</header>

<!-- Banner -->
	<section id="banner">
		<h1>Welcome to Quick RX & Cure Urgent Care Ticketing System</h1>
	</section>
